<div>
      <h1> ¡¡¡ Bienvenido !!! </h1>
      <p><strong>Email:</strong>{{user.email}}</p>
      <p><strong>Role:</strong>{{user.role}}</p>
</div>
<br><br>
<form  class ="formulario-logout" action="/api/session/logout " method="POST">
      <button type="submit"> Logout </button>
</form>