<header>
    <h1> Mis Productos </h1>

    <div>
        <p> Bienvenido, {{usuario.first_name}} - {{usuario.last_name}} </p>
        <p>Email: {{usuario.email}} </p>
        <p> Rol: {{usuario.role}} </p>
        <a href="/api/session/Logout">Logout</a>
    </div>
</header>
