<h1> Mi pefil </h1>

<p> ¡¡¡ Bienvenido !!! {{user.first_name}} - {{user.last_name}} </p>
<p><strong>Email:</strong> {{user.email}} </p>
<p><strong>Edad:</strong> {{user.age}} </p>

<a href="/api/session/logout" >Cerrar Session</a>
